@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Design System - Sizing */
  --width-square-size: clamp(80px, 13vh, 300px);
  --height-square-size: clamp(80px, 13vh, 300px);
  --width-main-size: clamp(250px, 80vh, 800px);
  --height-main-size: clamp(250px, 80vh, 800px);

  --border-width-square: clamp(6px, 1.5vh, 20px);
  --border-width-main: clamp(6px, 1.5vh, 20px);

  /* Design System - Typography */
  --text-large: clamp(12px, 2.2vh, 26px);
  --text-medium: clamp(10px, 1.8vh, 20px);
  --text-small: clamp(7px, 1.2vh, 14px);
  --text-square: clamp(20px, 3.3vh, 40px);
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Design System - Color */
  --color-primary: #EA4025;
  --color-primary-dark: #c53020;
  --color-primary-light: #f9d6d0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, ui-sans-serif, system-ui;
}